.fade-out-layer-bottom {
    position: fixed;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1),rgba(0,0,0,0));
    height: 100px;
    width: 100%;

}
.fade-out-layer-top {
    position: fixed;
    top: 0;
    background: linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,1));
    height: 100px;
    width: 100%;

}