.avatar-small{
    width:24px!important;
    height: 24px!important;
    display: inline-block!important;
}
.font-white{
    color:white;
}
.tbody{
    height:100%;
    overflow-y:auto;
}
.th{
    position: sticky;
    top: 0;
    z-index: 1;
    background: black
}
